<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head data-th-insert="~{ fragments/head :: global_head}"></head>

<body>
  <div class="container">

  <header data-th-insert="~{ fragments/header :: global_header}"></header>

  <!-- :::::::::::::::::::::::::::::: Ausgabe Zone :::::::::::::::::::::::::::::::::: -->

  <article class="article">
    <br>
    <br>
    <h3 align="center">Hallo Admin Seite bei Hiobs Server</h3>
    <br>
    <p><span>Mein Token: </span><span data-th-text="${mytoken}"></span></p>
    <p><span>Message Token: </span><span data-th-text="${msgtoken}"></span></p>
    <p><span>Hiobs Token: </span><span data-th-text="${hiobstoken}"></span></p>
    <p><span>Gespeichertes Token: </span><span data-th-text="${millis}"></span></p>
  </article>

  <!--<aside></aside>-->

  <!-- :::::::::::::::::::::::::::::: Ausgabe Zone :::::::::::::::::::::::::::::::::: -->

  </div>  <!-- ende container -->
</body>
</html>