<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head data-th-insert="~{ fragments/head :: global_head}"></head>

<body>
<div class="container">

    <header data-th-insert="~{ fragments/header :: global_header}"></header>

    <!-- :::::::::::::::::::::::::::::: Ausgabe Zone :::::::::::::::::::::::::::::::::: -->

    <article class="article">
        <br>
        <br>
        <br>
        <br>
        <h3 align="center">Hallo Engineer bei Hiobs Server</h3>
    </article>

    <!--<aside></aside>-->

    <!-- :::::::::::::::::::::::::::::: Ausgabe Zone :::::::::::::::::::::::::::::::::: -->

</div>  <!-- ende container -->
</body>
</html>