<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head data-th-insert="~{ fragments/head :: global_head}"></head>

<body>
<div class="container">

  <header data-th-insert="~{ fragments/header :: global_header}"></header>

  <!-- :::::::::::::::::::::::::::::: Ausgabe Zone :::::::::::::::::::::::::::::::::: -->

  <article class="article">
    <h3 align="center">Hallo Error bei Hiobs Server</h3>
    <h2 data-th-text="${linkName}"></h2>
  </article>

  <!--<aside></aside>-->

  <!-- :::::::::::::::::::::::::::::: Ausgabe Zone :::::::::::::::::::::::::::::::::: -->

</div>  <!-- ende container -->
</body>
</html>