<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head data-th-insert="~{ fragments/head :: global_head}"></head>

<body>
<div class="container">

  <header data-th-insert="~{ fragments/header :: global_header}"></header>

  <!-- :::::::::::::::::::::::::::::: Ausgabe Zone :::::::::::::::::::::::::::::::::: -->

  <article class="article">
    <div class="layout">
      <div class="errorsBox">
        <div class="leer3">&#160;</div>
        <h1>ENTSCHULDIGUNG</h1>
        <h3> &#123; <span class="darkred" data-th-text="${linkName}"></span> &#125;
              &#160;die gewünschte Seite konnte nicht gefunden werden</h3>
        <div class="leer1">&#160;</div>
        <span>bitte nutzen Sie die Loginseite, neue anzumelden </span>
        <a href="javascript:history.back()">Zur&#252;ck</a>
        <div class="leer3">&#160;</div>
        <img src="/img/what.png" width="256" height="256">
      </div>
    </div>
  </article>

  <!--<aside></aside>-->

  <!-- :::::::::::::::::::::::::::::: Ausgabe Zone :::::::::::::::::::::::::::::::::: -->

</div>  <!-- ende container -->
</body>
</html>